.Slider {
    width: 300px;
    margin: 20px;
    border-right:#b9bab9 solid medium;
    border-width: 1px;
    border-spacing: 10px;
    padding-right: 5%;
}

.SliderLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SliderText {
    font-size: 20px;
    font-weight: 300;
}